#%RAML 1.0
title: CocktailsAndFood API
baseUri: https://www.thecocktaildb.com/api.php ,https://www.themealdb.com/api.php
mediaType: 
- application/json

description: 

types:
  Drink: !include/DataTypes/DrinkApi.raml
 
/cocktailsName:
  get:
    description: Give cocltail by his name.
    queryParameters:
      cocktailByName:
        description: Filter cocktails by name
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            type: Drink[]
            examples:
              output: !include/Examples/CocktailByNameApi.raml
      400:
        body:
          application/json:
            examples:
              message: Invalid request

/listOfIngredient:
  get:
    description: Give cocltail by his name.
    queryParameters:
      listIngred:
        description: Filter cocktails by name
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            type: Drink[]
            examples:
              output: !include/Examples/listOfIngredient.raml
      400:
        body:
          application/json:
            examples:
              message: Invalid request

/searchByIngred:
  get:
    description: Give cocltail by his name.
    queryParameters:
      ingredient:
        description: Filter cocktails by name
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            type: Drink[]
            examples:
              output: !include/Examples/searchIngredient.raml
      400:
        body:
          application/json:
            examples:
              message: Invalid request   
/theBestCoctail:
  get:
    description: You can get one or few the best cocktails
    queryParameters:
      first:
        description:  Write first ingridient
        required: false
        type: string
      second:
        description:  Write second ingridient
        required: false
        type: string
      third:
        description:  Write third ingridient
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            type: string
            examples:
              output: !include/Examples/listOfCategoryApi.raml
      400:
        body:
          application/json:
            examples:
              message: Invalid request          

/listOfCategory:
  get:
    description: Give list of all category cocktails .
    queryParameters:
      list:
        description:  Give list of all category cocktails
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            type: string
            examples:
              output: !include/Examples/listOfCategoryapi.raml
      400:
        body:
          application/json:
            examples:
              message: Invalid request

/listOfCocktails:
  get:
    description: Give list of all  cocktails .
    

    responses:
      200:
        body:
          application/json:
            type: string
            examples:
              output: !include/Examples/listOfAllCocktails.raml
      400:
        body:
          application/json:
            examples:
              message: Invalid request           

/randomThree:
  get:
    description: Give array with three random cocktails .
   
    responses:
      200:
        body:
          application/json:
            type: string
            examples:
              output: !include/Examples/threeRandomCocktails.raml
      400:
        body:
          application/json:
            examples:
              message: Invalid request     
                 
/recipe:
  get:
    description: Give recipe to all cocktails by name .
    queryParameters:
      cocktailName:
        description:  Write name of cocktail to get recipe 
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            type: string
            examples:
              output: !include/Examples/recipeByCocktailName.raml
      400:
        body:
          application/json:
            examples:
              message: Invalid request 

      404:
        body:
          application/json:
            examples:
              message: Bad request                         

/dailyMenu:
  get:
    description: Give you a daily menu in our pub .
    queryParameters:
      day:
        description:  Day of week which interesting
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            type: string
            examples:
              output: !include/Examples/dailyMenu.raml

      400:
        body:
          application/json:
            examples:
              message: Invalid request

/fiveCategory:
  get:
    description: Give five menu by category cocktails .
    queryParameters:
      category:
        description:  Give category cocktails
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            type: string
            examples:
              output: !include/Examples/fiveCategory.raml

      400:
        body:
          application/json:
            examples:
              message: Invalid request

      404:
        body:
          application/json:
            examples:
              message: Bad request


